<div class="container-fluid">
    <div class="row">
        <app-dashboard></app-dashboard>

        <main role="main" class="jumbotron col-md-9 ml-sm-auto col-lg-10 px-md-4 animate__animated animate__fadeIn animate__faster">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="h2">Crea tu propia Pagina</h1>
            </div>
            <!-- Bottones -->
            <button class="btn btn-block btn-dark mt-3" (click)="verOpciones = !verOpciones">Ver opciones <i class="far fa-eye"></i></button>
            <div class="mt-3" *ngIf="verOpciones">
                <div class="row d-flex justify-content-start ">
                    <h6> Opciones de edicion de bloque</h6>
                    <div class="col-md-12 d-flex justify-content-start">
                        <button class="btn amarillo-outline mr-2" (click)="tipoBloque = true">WYSIWYG</button>
                        <button class="btn rojo-outline mr-2" (click)="actualizarHTML_ACE();">HTML puro</button>
                    </div>
                </div>
                <!-- Botones -->
                <div class="row d-flex justify-content-start mt-1">
                    <h6> Opciones</h6>
                    <div class="col-md-12 d-flex justify-content-start">
                        <button class="btn naranja-outline mr-2" (click)="agregarFila();">Agregar fila</button>
                        <button class="btn naranja-outline mr-2" (click)="detallesPagina();">Detalles de pagina</button>
                        <button class="btn naranja-outline mr-2" (click)="crearHTML();">Crear Pagina</button>
                    </div>
                </div>
            </div>
            <!-- Funcion de grilla -->
            <button class="btn btn-block btn-dark mt-3" (click)="verGrilla = !verGrilla">Ver Bloques <i class="far fa-eye"></i></button>
            <div class="grilla mt-3" *ngIf="verGrilla">
                <!-- Fila -->
                <div class="row mb-3" *ngFor="let row of rows; let i = index;">
                    <div class="col-1 d-flex justify-content-end" (click)="agregarColumna(i);">
                        <button class="btn naranja-outline"><i class="fas fa-plus"></i></button>
                    </div>
                    <div class="col-10 d-flex justify-content-between">
                        <div class="box text-center" *ngFor="let column of row.columns;let j = index;" [style.background]="column.color" [style.width]="anchoColumna(row.columns.length) + '%'">
                            <div class="btn-group">
                                <button class="btn" (click)="contenidoBloque(i, j);"><i class="fas fa-pen"></i></button>
                                <button class="btn" (click)="eliminarColumna(i, j);"><i class="fas fa-times"></i></button>
                            </div>
                            <p>{{column.descripcion}}</p>
                        </div>
                    </div>
                    <div class="col-1 d-flex justify-content-start">
                        <button class="btn rojo-outline" (click)="eliminarFila(i);"><i class="far fa-trash-alt"></i></button>
                    </div>
                </div>
            </div>
            <!-- Edicion de codigo -->
            <button class="btn btn-block btn-dark mt-3" (click)="verCodigo = !verCodigo">Ver Codigo <i class="far fa-eye"></i></button>
            <div class="mt-3" [ngClass]="{'invisible' : verCodigo}">
                <div *ngIf="bloque">
                    <!-- WYSIWYG -->
                    <h6 *ngIf="tipoBloque"> {{bloque.descripcion}} </h6>
                    <div class="row mt-3" [ngClass]="{'invisible' : !tipoBloque}">
                        <div class="col-12">
                            <ckeditor [editor]="Editor" [(ngModel)]="bloque.html" (ready)="onReady($event)" (change)="actualizarHTML_WYSIWYG()"></ckeditor>
                        </div>
                    </div>
                    <!-- ./WYSIWYG -->
                </div>
                <!-- CODIGO PURO -->
                <div class="row mt-3" [ngClass]="{'invisible' : tipoBloque}">
                    <div class="col-12">
                        <h6 *ngIf="bloque && !tipoBloque">{{bloque.descripcion}}</h6>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="inpt_descripcionPlantilla">Codigo HTML: </label>
                        <div class="app-ace-editor w-100 altura-standar" #DOMeditorHTML></div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="inpt_descripcionPlantilla">Codigo CSS: </label>
                        <div class="app-ace-editor w-100 altura-standar" #DOMeditorCSS></div>
                    </div>
                </div>
                <!-- ./CODIGO PURO -->
            </div>
            <button class="btn btn-block btn-dark mt-3" (click)="verPreview = !verPreview">Ver Preview <i class="far fa-eye"></i></button>
            <div *ngIf="bloque && verPreview" class="p-3 border mt-3">
                <div [innerHTML]="html"></div>
            </div>
        </main>
    </div>
</div>

<!-- Modal detalles de la pagina-->
<ng-template #modalDetallesPagina let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="actualizarUsuarioLabel">Detalles de tu pagina</h5>
        <button type="button" class="close" (click)="modal.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="inp_tituloPagina">Titulo de tu pagina:</label>
                <input type="text" class="form-control" id="inp_tituloPagina" placeholder="lamejorpagina">
            </div>
            <div class="form-group">
                <label for="inp_tituloPagina">URL de tu pagina:</label>
                <input type="text" class="form-control" id="inp_tituloPagina" placeholder="lamejorpagina">
                <small id="help_tituloPagina" class="form-text text-muted">
                    Como quieres ser encontrado por los navegadores. Ejem: tupagina/productos
                </small>
            </div>
            <div class="form-group">
                <label for="inp_descripcionPagina">Descripción de tu pagina</label>
                <textarea class="form-control" id="inp_descripcionPagina" rows="3" placeholder="Somos la mejor empresa del mundo, hacemos productos de calidad"></textarea>
            </div>
            <div class="form-group">
                <label for="inp_palabrasClave">Palabras clave de tu pagina:</label>
                <input type="text" class="form-control" id="inp_palabrasClave" placeholder="excelente, calidad, precio">
                <small id="help_palabrasClave" class="form-text text-muted">
                    Recomendamos máximo 3 palabras clave. Separadas por coma (,).
                </small>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="inp_hacerPaginaPrincipal" required>
                    <label class="form-check-label" for="inp_hacerPaginaPrincipal">
                        Hacer de esta pagina el "Home".
                    </label>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Confirmar</button>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">Cerrar</button>
    </div>
</ng-template>