.jumbotron {
    background: none;
}

.jumbotron h1 {
    font-family: CrimsonText_Regular;
}

.jumbotron .opciones .card {
    transition: all ease .3s;
}

.jumbotron .opciones .card:hover {
    box-shadow: 0px 0px 5px #000;
}

.box {
    font-weight: bold;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .5);
    padding: 50px;
    position: relative;
}

.close {
    outline: none;
}

.btn-group {
    position: absolute;
    margin: 5px 5px 0 0;
    top: 0;
    right: 0;
}

.app-ace-editor {
    border: 2px solid #f8f9fa;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.altura-standar {
    height: 200px;
    max-height: 200px;
    overflow: hidden;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}