<div class="container-fluid">
    <div class="row">
        <app-dashboard></app-dashboard>
        <main role="main" class="jumbotron col-md-9 ml-sm-auto col-lg-10 px-md-4 animate__animated animate__fadeIn animate__faster">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="h2">Gestion de plantillas</h1>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn naranja-outline" (click)="crearPlantilla();"> Ver plantillas creadas </button>
                </div>
            </div>
            <div class="border border-dark rounded p-3 mt-3">
                <form autocomplete="off">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="inpt_nombrePlantilla">Nombre plantilla:</label>
                            <input type="text" class="form-control" name="" id="inpt_nombrePlantilla" placeholder="La mejor plantilla">
                        </div>
                        <div class="form-group col-12">
                            <label for="inpt_descripcionPlantilla">Descripcion de plantilla: </label>
                            <textarea class="form-control" id="inpt_descripcionPlantilla" rows="3" placeholder="Besto plantilla"></textarea>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="inpt_descripcionPlantilla">Codigo CSS: </label>
                            <div class="app-ace-editor w-100 altura-standar" #editorCSS></div>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="inpt_descripcionPlantilla">Codigo JS: </label>
                            <div class="app-ace-editor w-100 altura-standar" #editorJS></div>
                        </div>
                        <div class="col-12">
                            <!-- Drag-n-drop -->
                            <p class="font-weight-bold">Deje caer las imagenes relacionadas aquí: </p>
                            <div class="altura-standar w-100 text-center justify-content-center d-flex align-items-center borde-drag-drop">
                                <i class="fas fa-images fa-5x animate__animated animate__bounce"></i>
                            </div>
                            <!-- ./Drag-n-drop -->
                            <!-- Tabla de resumen de archivos -->
                            <table class="table table-hover my-3">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Tipo</th>
                                        <th scope="col">Tamaño</th>
                                        <th scope="col">Subida</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 50%"></div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- ./Tabla de resumen de archivos -->

                            <div class="btn-group my-3 d-flex justify-content-center" role="group" aria-label="Basic example">
                                <button type="button" class="btn rojo-outline">Limpiar Todo</button>
                                <button type="button" class="btn rojo-outline">Limpiar Imagenes</button>
                                <button type="button" class="btn naranja-outline" (click)="POST_Plantilla();">Crear Plantilla</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </div>
</div>

<ng-template #modalVerPlantillas let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="actualizarPlanLabel">Crear Plantilla</h5>
        <button type="button" class="close" (click)="modal.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form autocomplete="off" [formGroup]="" (ngSubmit)="null">

        </form>
    </div>
    <!-- Botones Footer -->
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">Cerrar</button>
        <button type="button" class="btn btn-primary">Actualizar</button>
    </div>
</ng-template>