<div class="container-full-bg">
    <div class="jumbotron">
        <h1 class="my-5">Registrate</h1>
        <div class="card px-5 py-4 m-auto" style="max-width: 950px;">
            <form autocomplete="off" [formGroup]="form_reg_usuario" (ngSubmit)="guardarUsuario()">
                <div class="form-row mb-3">
                    <div class="col-sm-12 col-md-6">
                        <label for="nombreUsuario">Nombre</label>
                        <input formControlName="nombre" type="text" class="form-control" id="nombreUsuario" [class.is-invalid]="isValid(form_reg_usuario, 'nombre')">
                        <small class="text-danger" *ngIf="isValid(form_reg_usuario, 'nombre')">Ingrese minimo 2 caracteres y maximo 20.</small>
                    </div>
                    <div class="col-sm-12 col-md-6 mt-sm-3 mt-md-0">
                        <label for="nombreApellido">Apellido</label>
                        <input formControlName="apellido" type="text" class="form-control" id="nombreApellido" [class.is-invalid]="isValid(form_reg_usuario, 'apellido')">
                        <small class="text-danger" *ngIf="isValid(form_reg_usuario, 'apellido')">Ingrese minimo 2 caracteres y maximo 20.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="correoElectronico">Correo Electronico</label>
                    <input formControlName="correo" type="email" class="form-control" id="correoElectronico" aria-describedby="correoElectronico" [class.is-invalid]="isValid(form_reg_usuario, 'correo')">
                    <small class="text-danger" *ngIf="isValid(form_reg_usuario, 'correo')">El correo no es valido o ya esta registrado</small>
                </div>
                <div class="form-group">
                    <label for="passwordUsuario">Contraseña</label>
                    <input formControlName="pass" type="password" class="form-control" id="passwordUsuario" [class.is-invalid]="isValid(form_reg_usuario, 'pass')">
                    <small class="text-danger" *ngIf="isValid(form_reg_usuario, 'pass')">La contraseña debe tener minimo 8 caracteres</small>
                </div>
                <div class="form-group">
                    <label for="RepetirpasswordUsuario">Repetir Contraseña</label>
                    <input formControlName="rpt_pass" type="password" class="form-control" id="RepetirpasswordUsuario" [class.is-invalid]="rpt_pass()">
                    <small class="text-danger" *ngIf="rpt_pass()">Las contraseñas no coinciden</small>
                </div>
                <label>¿Cómo desea utilizar la plataforma?</label>
                <div class="btn-group btn-group-toggle d-flex justify-content-center" data-toggle="buttons">
                    <label class="btn btn-radio mr-sm-0 mr-md-2 active">
                      <input formControlName="tipo"  type="radio" name="tipo" id="tipo1" (click)="radioTipoUsuario('cliente')" value="cliente"><i class="fas fa-shopping-bag"></i> Cliente
                    </label>
                    <label class="btn btn-radio">
                      <input formControlName="tipo" type="radio" name="tipo" id="tipo2" (click)="radioTipoUsuario('empresa')" value="empresa"><i class="fas fa-user-tie"></i> Empresa
                    </label>
                </div>
                <!-- Datos de empresa -->
                <div *ngIf="isEmpresa" class="formularioEmpresa animate__animated animate__fadeIn">
                    <div class="form-group mt-3">
                        <label for="nombreEmpresa">Nombre de la empresa</label>
                        <input formControlName="nombreEmpresa" type="text" class="form-control" id="nombreEmpresa" aria-describedby="correoElectronico" [class.is-invalid]="isValid(form_reg_usuario, 'nombreEmpresa')">
                        <small class="text-danger" *ngIf="isValid(form_reg_usuario, 'nombreEmpresa')">El nombre debe tener minimo 1 letra</small>
                    </div>
                    <div class="form-group">
                        <label for="direccionEmpresa">Dirección de la empresa</label>
                        <textarea formControlName="direccionEmpresa" class="form-control" name="direccionEmpresa" id="direccionEmpresa" [class.is-invalid]="isValid(form_reg_usuario, 'direccionEmpresa')"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="rubroEmpresa">Rubro de su empresa</label>
                        <select formControlName="rubroEmpresa" id="rubroEmpresa" class="form-control" [class.is-invalid]="isValid(form_reg_usuario, 'rubroEmpresa')">
                              <option selected disabled value="-1">-- Escoga un rubro --</option>
                              <option>Tecnologia</option>
                              <option>Hogar</option>
                              <option>Salud</option>
                              <option>Arte</option>
                        </select>
                        <small class="text-danger" *ngIf="isValid(form_reg_usuario, 'rubroEmpresa')">Campo obligatorio</small>
                    </div>
                </div>
                <hr>
                <button type="submit" class="btn btn-confirmar btn-block mb-3">Confirmar</button>
            </form>
        </div>
        <pre style="color: #055808">
            {{ form_reg_usuario.value | json }}
        </pre>
    </div>
</div>