<div class="container-full-bg animate__animated animate__fadeIn animate__faster">
    <div class="jumbotron">
        <h1 class="my-5">Registrate</h1>
        <div class="card px-5 py-4 m-auto" style="max-width: 950px;">
            <form autocomplete="off" [formGroup]="form_reg_usuario" (ngSubmit)="guardarUsuario()">
                <div class="form-row mb-3">
                    <div class="col-sm-12 col-md-6">
                        <label for="nombreUsuario">Nombre</label>
                        <input formControlName="nombre" type="text" class="form-control" id="nombreUsuario" [class.is-invalid]="isValid(form_reg_usuario, 'nombre')">
                        <small class="text-danger" *ngIf="isValid(form_reg_usuario, 'nombre')">Ingrese minimo 2 caracteres y maximo 20.</small>
                    </div>
                    <div class="col-sm-12 col-md-6 mt-sm-3 mt-md-0">
                        <label for="nombreApellido">Apellido</label>
                        <input formControlName="apellido" type="text" class="form-control" id="nombreApellido" [class.is-invalid]="isValid(form_reg_usuario, 'apellido')">
                        <small class="text-danger" *ngIf="isValid(form_reg_usuario, 'apellido')">Ingrese minimo 2 caracteres y maximo 20.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="correoElectronico">Correo Electronico</label>
                    <input formControlName="correo" type="email" class="form-control" id="correoElectronico" aria-describedby="correoElectronico" [class.is-invalid]="isValid(form_reg_usuario, 'correo')">
                    <small class="text-danger" *ngIf="isValid(form_reg_usuario, 'correo')">El correo no es valido o ya esta registrado</small>
                </div>
                <div class="form-group">
                    <label for="passwordUsuario">Contraseña</label>
                    <input formControlName="password" type="password" class="form-control" id="passwordUsuario" [class.is-invalid]="isValid(form_reg_usuario, 'password')">
                    <small class="text-danger" *ngIf="isValid(form_reg_usuario, 'password')">La contraseña debe tener minimo 8 caracteres</small>
                </div>
                <div class="form-group">
                    <label for="RepetirpasswordUsuario">Repetir Contraseña</label>
                    <input formControlName="rpt_pass" type="password" class="form-control" id="RepetirpasswordUsuario" [class.is-invalid]="rpt_pass()">
                    <small class="text-danger" *ngIf="rpt_pass()">Las contraseñas no coinciden</small>
                </div>
                <hr>
                <div class="alert alert-danger" role="alert" *ngIf="serverError">
                    Parece que tenemos problemas en nuestros servidores. Quizas sea mejor intentar más tarde. D':
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="dataError">
                    Parece ser que tu correo ya esta registrado, intenta inciar sesión o usar otro correo.
                </div>
                <button type="submit" class="btn btn-confirmar btn-block mb-3">
                    Confirmar
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="solicitandoInformacion"></span>
                </button>
            </form>
        </div>
        <!-- <pre style="color: #055808">
            {{ form_reg_usuario.value | json }}
        </pre> -->
    </div>
</div>