<div class="container-fluid">
    <div class="row">
        <app-dashboard></app-dashboard>

        <main role="main" class="jumbotron col-md-9 ml-sm-auto col-lg-10 px-md-4 animate__animated animate__fadeIn animate__faster">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="h2">Gestion de usuarios</h1>
            </div>
            <table class="table table-borderless table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Tipo Usuario</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Inhabilitar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Usuario 1</td>
                        <td>user1@gmail.com</td>
                        <td>True</td>
                        <td>Cliente</td>
                        <td>
                            <button class="btn naranja-outline" (click)="actualizarUsuario();"><i class="far fa-edit"></i></button>
                        </td>
                        <td>
                            <button class="btn rojo-outline"><i class="fas fa-times"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Usuario 2</td>
                        <td>user2@gmail.com</td>
                        <td>false</td>
                        <td>Empresa</td>
                        <td>
                            <button class="btn naranja-outline" (click)="actualizarUsuario();"><i class="far fa-edit"></i></button>
                        </td>
                        <td>
                            <button class="btn rojo-outline"><i class="fas fa-times"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Usuario 3</td>
                        <td>user3@gmail.com</td>
                        <td>True</td>
                        <td>Admin</td>
                        <td>
                            <button class="btn naranja-outline" (click)="actualizarUsuario();"><i class="far fa-edit"></i></button>
                        </td>
                        <td>
                            <button class="btn rojo-outline"><i class="fas fa-times"></i></button>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div class="row">
                <div class="col-12 d-flex justify-content-end">
                    <button type="button" class="btn btn-lg bg-naranja text-white" (click)="crearNuevoUsuario();">Crear Nuevo Usuario</button>
                </div>
            </div>
        </main>
    </div>
</div>

<!-- Modal crear usuario-->
<ng-template #modalCrearNuevoUsuario let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="crearNuevoUsuarioLabel">Creacion de nuevo usuario</h5>
        <button type="button" class="close" (click)="modal.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="inp_new_NombreUsuario">Nombre de usuario: </label>
                <input type="text" class="form-control" id="inp_new_NombreUsuario">
            </div>
            <div class="form-group">
                <label for="inp_new_pass">Contraseña del usuario: </label>
                <input type="password" class="form-control" id="inp_new_pass">
            </div>
            <div class="form-group">
                <label for="inp_new_passRepeat">Repetir contraseña del usuario: </label>
                <input type="password" class="form-control" id="inp_new_passRepeat">
            </div>
            <div class="form-group">
                <label for="inp_edit_tipoUsuario">Tipo de usuario: </label>
                <select class="form-control" id="inp_edit_tipoUsuario">
                  <option>Cliente</option>
                  <option>Empresa</option>
                  <option>Administrador</option>
                </select>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="inp_edit_estadoUsuario" checked>
                <label class="form-check-label" for="inp_edit_estadoUsuario">Estado activo</label>
                <small id="emailHelp" class="form-text text-muted">Marcar si el usuario esta activo, de lo contrario estara bloqueado del sistema</small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
                <button type="submit" class="btn btn-primary">Crear Usuario</button>
            </div>
        </form>
    </div>
</ng-template>

<!-- Modal actualizar usuario-->
<ng-template #modalActualizarUsuario let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="actualizarUsuarioLabel">Editar usuario</h5>
        <button type="button" class="close" (click)="modal.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="inp_edit_NombreUsuario">Nombre de usuario: </label>
                <input type="text" class="form-control" id="inp_edit_NombreUsuario">
            </div>
            <div class="form-group">
                <label for="inp_edit_tipoUsuario">Tipo de usuario: </label>
                <select class="form-control" id="inp_edit_tipoUsuario">
                  <option>Cliente</option>
                  <option>Empresa</option>
                  <option>Administrador</option>
                </select>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="inp_edit_estadoUsuario" checked>
                <label class="form-check-label" for="inp_edit_estadoUsuario">Estado activo</label>
                <small id="emailHelp" class="form-text text-muted">Marcar si el usuario esta activo, de lo contrario estara bloqueado del sistema</small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
        </form>
    </div>
</ng-template>