.jumbotron {
    background: none;
}

.jumbotron h1 {
    font-family: CrimsonText_Regular;
}

.rojo-outline {
    color: #D62828;
    border-color: #D62828;
}

.naranja-outline {
    color: #F77F00;
    border-color: #F77F00;
}

.amarillo-outline {
    color: #FCBF49;
    border-color: #FCBF49;
}

.rojo-outline:hover {
    color: #FFF;
    background-color: #D62828;
}

.naranja-outline:hover {
    color: #FFF;
    background-color: #F77F00;
}

.amarillo-outline:hover {
    color: #FFF;
    background-color: #FCBF49;
}

.bg-rojo {
    background-color: #D62828;
}

.bg-naranja {
    background-color: #F77F00;
}

.bg-amarillo {
    background-color: #FCBF49;
}

.txt-red {
    color: #D62828;
}

.txt-naranja {
    color: #F77F00;
}

.close {
    outline: none;
}