<div class="container-fluid">
    <div class="row">
        <app-dashboard></app-dashboard>

        <main role="main" class="jumbotron col-md-9 ml-sm-auto col-lg-10 px-md-4 animate__animated animate__fadeIn animate__faster">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="h2">Gestion de usuarios</h1>
            </div>
            <button class="btn btn-outline-danger" (click)="verEliminados = !verEliminados">Ver usuarios Inhabilitados</button>
            <table class="table table-borderless table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Tipo Usuario</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Inhabilitar</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let usuario of usuarios; let i = index">
                        <tr *ngIf="usuario.activo || !verEliminados">
                            <th scope="row">{{i}}</th>
                            <td>{{usuario.nombre | titlecase }} {{usuario.apellido | titlecase}}</td>
                            <td>{{usuario.correo}}</td>
                            <td><i [ngClass]="usuario.activo | Activo"></i></td>
                            <td>{{usuario.tipoUsuario | tipoUsuario | titlecase}}</td>
                            <td>
                                <button class="btn naranja-outline" (click)="modalEditUsuario(usuario._id);"><i class="far fa-edit"></i></button>
                            </td>
                            <td>
                                <button class="btn rojo-outline"><i class="fas fa-times"></i></button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div class="row">
                <div class="col-12 d-flex justify-content-end">
                    <button type="button" class="btn btn-lg bg-naranja text-white" (click)="modalNewUsuario();">Crear Nuevo Usuario</button>
                </div>
            </div>
        </main>
    </div>
</div>

<!-- Modal crear usuario-->
<ng-template #modalCrearNuevoUsuario let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="crearNuevoUsuarioLabel">Creacion de nuevo usuario</h5>
        <button type="button" class="close" (click)="modal.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form autocomplete="off" [formGroup]="form_new_usuarios" (ngSubmit)="guardarUsuario()">
            <div class="form-group">
                <label for="inp_new_NombreUsuario">Nombre de usuario: </label>
                <input type="text" class="form-control" id="inp_new_NombreUsuario" formControlName="nombre" [class.is-invalid]="isValid(form_new_usuarios, 'nombre')">
                <small class="text-danger" *ngIf="isValid(form_new_usuarios, 'nombre')">Ingrese minimo 2 letras y maximo 20.</small>
            </div>
            <div class="form-group">
                <label for="inp_new_ApellidoUsuario">Apellido de usuario: </label>
                <input type="text" class="form-control" id="inp_new_ApellidoUsuario" formControlName="apellido" [class.is-invalid]="isValid(form_new_usuarios, 'apellido')">
                <small class="text-danger" *ngIf="isValid(form_new_usuarios, 'apellido')">Ingrese minimo 2 letras y maximo 20.</small>
            </div>
            <div class="form-group">
                <label for="inp_new_CorreoUsuario">Correo de usuario: </label>
                <input type="email" class="form-control" id="inp_new_CorreoUsuario" formControlName="correo" [class.is-invalid]="isValid(form_new_usuarios, 'correo')">
                <small class="text-danger" *ngIf="isValid(form_new_usuarios, 'correo')">El correo no es valido o ya esta registrado</small>
            </div>
            <div class="form-group">
                <label for="inp_new_pass">Contraseña del usuario: </label>
                <input type="password" class="form-control" id="inp_new_pass" formControlName="pass" [class.is-invalid]="isValid(form_new_usuarios, 'pass')">
                <small class="text-danger" *ngIf="isValid(form_new_usuarios, 'pass')">La contraseña debe tener minimo 8 caracteres</small>
            </div>
            <div class="form-group">
                <label for="inp_new_passRepeat">Repetir contraseña del usuario: </label>
                <input type="password" class="form-control" id="inp_new_passRepeat" formControlName="rpt_pass" [class.is-invalid]="isValid(form_new_usuarios, 'rpt_pass')">
                <small class="text-danger" *ngIf="isValid(form_new_usuarios, 'rpt_pass')">Repetir contraseña</small>
            </div>
            <div class="form-group">
                <label for="inp_new_tipoUsuario">Tipo de usuario: </label>
                <select class="form-control" id="inp_new_tipoUsuario" formControlName="tipo" [class.is-invalid]="isValid(form_new_usuarios, 'tipo')">
                    <option *ngFor="let tipo of tiposUsuario" [ngValue]="tipo._id">{{tipo.tipo}}</option>
                </select>
                <small class="text-danger" *ngIf="isValid(form_new_usuarios, 'tipo')">El tipo de usuario es obligatorio</small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
                <button type="submit" class="btn btn-primary">Crear Usuario</button>
            </div>
        </form>
    </div>
</ng-template>

<!-- Modal actualizar usuario-->
<ng-template #modalActualizarUsuario let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="actualizarUsuarioLabel">Editar usuario</h5>
        <button type="button" class="close" (click)="modal.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form autocomplete="off" [formGroup]="form_edit_usuarios" (ngSubmit)="actualizarUsuario()">
            <div class="form-group">
                <label for="inp_edit_NombreUsuario">Nombre de usuario: </label>
                <input formControlName="nombre" type="text" class="form-control" id="inp_edit_NombreUsuario" [class.is-invalid]="isValid(form_edit_usuarios, 'nombre')">
                <small class="text-danger" *ngIf="isValid(form_edit_usuarios, 'nombre')">Ingrese minimo 2 letras y maximo 20.</small>
            </div>
            <div class="form-group">
                <label for="inp_edit_ApellidoUsuario">Apellido de usuario: </label>
                <input formControlName="apellido" type="text" class="form-control" id="inp_edit_ApellidoUsuario" [class.is-invalid]="isValid(form_edit_usuarios, 'apellido')">
                <small class="text-danger" *ngIf="isValid(form_edit_usuarios, 'apellido')">Ingrese minimo 2 letras y maximo 20.</small>
            </div>
            <div class="form-group">
                <label for="inp_edit_tipoUsuario">Tipo de usuario: </label>
                <select formControlName="tipo" class="form-control" id="inp_edit_tipoUsuario" [class.is-invalid]="isValid(form_edit_usuarios, 'tipo')">
                  <option *ngFor="let tipo of tiposUsuario" [ngValue]="tipo._id">{{tipo.tipo}}</option>
                </select>
                <small class="text-danger" *ngIf="isValid(form_edit_usuarios, 'tipo')">El tipo de usuario es obligatorio</small>
            </div>
            <div class="form-group form-check">
                <input formControlName="activo" type="checkbox" class="form-check-input" id="inp_edit_estadoUsuario" [class.is-invalid]="isValid(form_edit_usuarios, 'activo')">
                <label class="form-check-label" for="inp_edit_estadoUsuario">Estado activo</label>
                <small id="emailHelp" class="form-text text-muted">Marcar si el usuario esta activo, de lo contrario estara bloqueado del sistema</small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
        </form>
    </div>
</ng-template>