.jumbotron {
    background: none;
}

.jumbotron h1 {
    font-family: CrimsonText_Regular;
}

main .card {
    cursor: pointer;
    transition: all ease .3s;
}

main .card:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}

.altura-standar {
    height: 200px;
    max-height: 200px;
    overflow: hidden;
}