<div class="container-fluid">
    <div class="row">
        <app-dashboard></app-dashboard>

        <main role="main" class="jumbotron col-md-9 ml-sm-auto col-lg-10 px-md-4 animate__animated animate__fadeIn animate__faster">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="h2">Banco de imagenes</h1>
            </div>
            <div class="alert alert-warning" role="alert" *ngIf="!hasEmpresa">
                ¡Aún no tienes configurada tu empresa, ve a la pestaña de "pagina de la empresa" para configurarla!
            </div>
            <div *ngIf="hasEmpresa">
                <button class="btn btn-lg naranja-outline px-5" (click)="subirArchivo();"><i class="fas fa-upload"></i> Subir archivo</button>
                <div class="row my-3">
                    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let imagen of imagenes" (click)="detallesImagen(imagen._id);">
                        <div class="card w-100 mb-3">
                            <img class="img-fluid" [src]="imagen.imgUrl" [alt]="imagen.nombre">
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<ng-template #modalSubirArchivo let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Subir Archivo</h5>
        <button type="button" class="close" style="outline: none;" (click)="modal.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <!-- Drag-n-drop -->
            <p class="font-weight-bold">Deje caer tus imagenes aquí: </p>
            <div appNgDropFiles [archivos]="archivos" (mouseSobre)="dejandoCaerImgs = $event" [ngClass]="{'file-over': dejandoCaerImgs}" class="altura-standar w-100 text-center justify-content-center d-flex align-items-center borde-drag-drop">
                <i class="fas fa-images fa-5x animate__animated animate__bounce"></i>
            </div>
            <!-- ./Drag-n-drop -->
            <!-- Tabla de resumen de archivos -->
            <table class="table table-hover my-3  animate__animated animate__fadeIn" *ngIf="archivos.length > 0">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Tamaño</th>
                        <th scope="col">Subida</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let archivo of archivos; let i = index">
                        <th scope="row">{{ i }}</th>
                        <td>{{ archivo.nombreArchivo }}</td>
                        <td>Imagen</td>
                        <td>{{archivo.archivo.size / 1024 / 1024 | number: '.2-2'}} MB</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar" [ngStyle]="{'width': archivo.progressUpload + '%'}"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- ./Tabla de resumen de archivos -->
            <div class="alert alert-warning animate__animated animate__fadeIn mt-3" role="alert" *ngIf="isEmpty">
                ¡Primero debes subir una imagen!
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn rojo-outline" (click)="archivos = [];">Limpiar imagenes</button>
        <button type="button" class="btn naranja-outline" (click)="POST_Imagenes();">Subir</button>
        <button type="button" class="btn btn-secondary" (click)="modal.close()">Cerrar</button>
    </div>
</ng-template>

<ng-template #modalDetallesImagen let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalles del archivo</h5>
        <button type="button" class="close" style="outline: none;" (click)="modal.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row" *ngIf="imagenModal">
            <div class="col-8">
                <img class="img-fluid" [src]="imagenModal.imgUrl" [alt]="imagenModal.nombre">
            </div>
            <div class="col-4">
                <p class="font-weight-bold">Nombre:</p>
                <p>{{imagenModal.nombre}}</p>
                <p class="font-weight-bold">Tipo:</p>
                <p>{{imagenModal.extencion}}</p>
                <p class="font-weight-bold">Subido en:</p>
                <p>{{imagenModal.fechaDeSubida | date:'mediumDate'}}</p>
                <p class="font-weight-bold">Peso:</p>
                <p>{{imagenModal.peso}}</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">Cerrar</button>
        <button type="button" class="btn btn-outline-danger">Borrar</button>
    </div>
</ng-template>