<div class="container-fluid">
    <div class="row">
        <app-dashboard></app-dashboard>

        <main role="main" class="jumbotron col-md-9 ml-sm-auto col-lg-10 px-md-4 animate__animated animate__fadeIn animate__faster">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="h2">Gestion de empresas</h1>
            </div>
            <!-- Grid de empresas -->
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-4 mb-3">
                    <div class="card bg-dark text-white position-relative">
                        <div class="d-flex justify-content-end w-100 position-absolute grupo-botones" role="group" aria-label="grupo de edicion">
                            <button type="button" class="btn border"><i class="fas fa-lock"></i></button>
                            <button type="button" class="btn border"><i class="fas fa-times"></i></button>
                        </div>
                        <img class="card-img img-fluid" src="../../../assets/img/agnieszka-kowalczyk-z-qxSYHXrh4-unsplash.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h5 class="card-title align-top">Empresa</h5>
                            <p class="card-text align-bottom">Hogar, Comida, Salud</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4 mb-3">
                    <div class="card bg-dark text-white position-relative">
                        <div class="d-flex justify-content-end w-100 position-absolute grupo-botones" role="group" aria-label="grupo de edicion">
                            <button type="button" class="btn border"><i class="fas fa-lock"></i></button>
                            <button type="button" class="btn border"><i class="fas fa-times"></i></button>
                        </div>
                        <img class="card-img img-fluid" src="../../../assets/img/alexander-naglestad-Fy8o0YA-e2Q-unsplash.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h5 class="card-title align-top">Empresa</h5>
                            <p class="card-text align-bottom">Hogar, Comida, Salud</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4 mb-3">
                    <div class="card bg-dark text-white position-relative">
                        <div class="d-flex justify-content-end w-100 position-absolute grupo-botones" role="group" aria-label="grupo de edicion">
                            <button type="button" class="btn border"><i class="fas fa-lock"></i></button>
                            <button type="button" class="btn border"><i class="fas fa-times"></i></button>
                        </div>
                        <img class="card-img img-fluid" src="../../../assets/img/toa-heftiba-MmPH0quV3rU-unsplash.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h5 class="card-title align-top">Empresa</h5>
                            <p class="card-text align-bottom">Hogar, Comida, Salud</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Paginacion -->
            <div class="row mt-4">
                <div class="col-12 d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination pagination-lg">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
                                    <span class="sr-only">Anterior</span>
                                </a>
                            </li>
                            <li class="page-item ml-3"><a class="page-link page-link-active" href="#">1</a></li>
                            <li class="page-item ml-3"><a class="page-link" href="#">2</a></li>
                            <li class="page-item ml-3"><a class="page-link" href="#">3</a></li>
                            <li class="page-item ml-3"><a class="page-link" href="#">4</a></li>
                            <li class="page-item ml-3"><a class="page-link" href="#">5</a></li>
                            <li class="page-item ml-3"><a class="page-link" href="#">6</a></li>
                            <li class="page-item  ml-3">
                                <a class="page-link page-link-arrow-enabled" href="#" aria-label="Next">
                                    <span aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
                                    <span class="sr-only">Siguiente</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </main>
    </div>
</div>