<div class="container-fluid">
    <div class="row">
        <app-dashboard></app-dashboard>

        <main role="main" class="jumbotron col-md-9 ml-sm-auto col-lg-10 px-md-4 animate__animated animate__fadeIn animate__faster">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="h2">Banco de archivos</h1>
            </div>
            <button class="btn btn-outline-warning"><i class="fas fa-upload"></i> Subir archivo</button>
            <div class="row mt-3">
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3">
                    <div class="card">
                        <div class="text-center">
                            <img class="card-img-top img-fluid" src="./../../../assets/img/agnieszka-kowalczyk-z-qxSYHXrh4-unsplash.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text text-center font-weight-bold text-truncate">Imagen 1.jpg</p>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3">
                    <div class="card w-100">
                        <div class="text-center">
                            <img class="card-img-top img-fluid icono" src="./../../../assets/svg/file-pdf-solid.svg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text text-center font-weight-bold text-truncate">Documento.pdf</p>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3">
                    <div class="card w-100">
                        <div class="text-center">
                            <img class="card-img-top img-fluid icono" src="./../../../assets/svg/file-word-solid.svg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text text-center font-weight-bold text-truncate">Documento.docx</p>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3">
                    <div class="card w-100">
                        <div class="text-center">
                            <img class="card-img-top img-fluid icono" src="./../../../assets/svg/file-archive-solid.svg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text text-center font-weight-bold text-truncate">Archivo.zip</p>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3">
                    <div class="card w-100">
                        <div class="text-center">
                            <img class="card-img-top img-fluid icono" src="./../../../assets/svg/file-video-solid.svg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text text-center font-weight-bold text-truncate">video.mp4</p>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3">
                    <div class="card w-100">
                        <div class="text-center">
                            <img class="card-img-top img-fluid icono" src="./../../../assets/svg/file-archive-solid.svg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text text-center font-weight-bold text-truncate">Archivo.zip</p>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3">
                    <div class="card w-100">
                        <div class="text-center">
                            <img class="card-img-top img-fluid icono" src="./../../../assets/svg/file-video-solid.svg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text text-center font-weight-bold text-truncate">video.mp4</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>