<div class="jumbotron">
    <div class="container ">
        <div class="row">
            <div class="col-12 my-5">
                <h1>Escoge el mejor plan para tu empresa</h1>
            </div>
        </div>
        <div class="row d-flex justify-content-around">
            <div class="col-3">
                <div class="card mb-3 w-100">
                    <div class="card-header text-center">Plan Basico</div>
                    <div class="card-body">
                        <h5 class="card-title text-center">9.99 $/ Mes</h5>
                        <ul class="list-group">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Morbi leo risus</li>
                            <li class="list-group-item">Porta ac consectetur ac</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col-3">
                <div class="card mb-3 w-100">
                    <div class="card-header text-center">Plan Pro</div>
                    <div class="card-body">
                        <h5 class="card-title text-center">19.99 $/ Mes</h5>
                        <ul class="list-group">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Morbi leo risus</li>
                            <li class="list-group-item">Porta ac consectetur ac</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col-3">
                <div class="card mb-3 w-100">
                    <div class="card-header text-center">Plan Ultimate</div>
                    <div class="card-body">
                        <h5 class="card-title text-center">21.99 $/ Mes</h5>
                        <ul class="list-group">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Morbi leo risus</li>
                            <li class="list-group-item">Porta ac consectetur ac</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>