<div class="jumbotron">
    <div class="container">
        <h1 class="my-5">Inicio sesión de administrador</h1>
        <div class="card px-5 py-4 m-auto" style="max-width: 950px;">
            <form autocomplete="off" [formGroup]="form_login" (ngSubmit)="loggear()">
                <div class="form-group">
                    <label for="correoElectronico">Correo Electronico</label>
                    <input formControlName="correo" type="email" class="form-control" id="correoElectronico" aria-describedby="correoElectronico" [class.is-invalid]="isValid(form_login, 'correo')">
                    <small class="text-danger" *ngIf="isValid(form_login, 'correo')">El correo no es valido</small>
                </div>
                <div class="form-group">
                    <label for="passwordUsuario">Contraseña</label>
                    <input formControlName="pass" type="password" class="form-control" id="passwordUsuario" [class.is-invalid]="isValid(form_login, 'pass')">
                    <small class="text-danger" *ngIf="isValid(form_login, 'pass')">La contraseña debe tener minimo 8 caracteres</small>
                </div>
                <hr>
                <button type="submit" class="btn btn-confirmar btn-block mb-3">Confirmar</button>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Mantenme Conectado</label>
                </div>
            </form>
        </div>
    </div>
</div>