<main class="mt-5">
    <!-- Bienvenida -->
    <section class="jumbotron jumbotron-fluid bienvenida">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-3">
                    <img class="img-fluid celular animate__animated animate__fadeInUp animate__delay-0.5s" src="../../../assets/img/cellphone.png" alt="">
                </div>
                <div class="col-md-8 col-lg-9 text-right">
                    <h1 class="mb-3">Tu negocio donde sea</h1>
                    <p>
                        In tellus ligula, aliquet eget fermentum vel, cursus et leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse lobortis quam neque, vel cursus tellus congue vitae. Morbi diam lacus, suscipit ut arcu
                        quis, auctor suscipit tellus. Mauris sit amet varius tortor, ac egestas ligula. Praesent porta iaculis erat, non pulvinar ligula dictum quis. Phasellus nunc felis, placerat commodo dapibus at, mattis eget nulla. Etiam varius nulla
                        urna, eu pharetra libero varius ac. Cras sed scelerisque massa. Ut pulvinar nulla et tempor tempus. Aliquam id varius augue.
                    </p>
                    <button class="btn btn_comenzar">Comenzar</button>
                </div>
            </div>
        </div>
    </section>
    <!-- Otras tiendas -->
    <section class="jumbotron jumbotron-fluid otras-tiendas">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h2 class="mb-3">La mas grande diversidad de tiendas de la web</h2>
                    <p>
                        In tellus ligula, aliquet eget fermentum vel, cursus et leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse lobortis quam neque, vel cursus tellus congue vitae. Morbi diam lacus, suscipit ut arcu
                        quis, auctor suscipit tellus. Mauris sit amet varius tortor, ac egestas ligula. Praesent porta iaculis erat, non pulvinar ligula dictum quis. Phasellus nunc felis, placerat commodo dapibus at, mattis eget nulla. Etiam varius nulla
                        urna, eu pharetra libero varius ac. Cras sed scelerisque massa. Ut pulvinar nulla et tempor tempus. Aliquam id varius augue.
                    </p>
                </div>
                <div class="col-6">
                    <img class="img-fluid" src="../../../assets/img/christelle-bourgeois-Aq7paIaerrY-unsplash.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Beneficios -->
    <section class="jumbotron jumbotron-fluid beneficios">
        <div class="container">
            <h2 class="text-center mb-5">Beneficios de la plataforma</h2>
            <div class="row mt-3 d-flex justify-content-between">
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <img class="img-fluid" src="../../../assets/svg/undraw_color__schemes_wv48.svg" alt="">
                    <p>
                        Voluptatibus non iusto omnis nesciunt illum velit quae ex tempora blanditiis ratione aspernatur, ab culpa vel minima ipsum, cumque sequi. Dolores, hic?
                    </p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <img class="img-fluid mt-5" src="../../../assets/svg/undraw_Devices_re_dxae.svg" alt="">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. ab culpa vel minima ipsum, cumque sequi. Dolores, hic?
                    </p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <img class="img-fluid" src="../../../assets/svg/undraw_Done_checking_re_6vyx.svg" alt="">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus non iusto omnis nesciunt illum velit quae ex tempora blanditiis ratione aspernatur.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>