h1,
h2 {
    font-family: CrimsonText_Regular;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.jumbotron {
    bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

section.bienvenida {
    background: #F8F8F8;
}

section.bienvenida .btn_comenzar {
    border: 1px solid #F77F00;
    padding: 0.5rem 5rem;
    color: #F77F00;
    font-weight: bold;
    font-size: 1.2rem;
}

section.bienvenida .btn_comenzar:hover {
    background: #F77F00;
    color: #FFF;
}

section.bienvenida img.celular {
    position: absolute;
    bottom: -65%;
    z-index: 0;
}

section.otras-tiendas {
    background: url('../../../assets/img/otras-triendas-blur.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #FFF;
    z-index: 10;
}

section.otras-tiendas p {
    font-family: SourceSansPro_SemiBold;
}

section.beneficios {
    background-color: #FFF;
}

@media only screen and (max-width: 992px) {
    section.bienvenida img.celular {
        bottom: -40%;
    }
}

@media only screen and (max-width: 768px) {
    section.bienvenida img.celular {
        display: none;
    }
}