<div class="jumbotron">
    <div class="container ">
        <div class="row">
            <div class="col-12 my-5">
                <h1>Escoge el mejor plan para tu empresa</h1>
            </div>
        </div>
        <div class="row d-flex justify-content-between">
            <ng-container *ngFor="let plan of planes">
                <div class="col-sm-12 col-md-4" *ngIf="!isGratis(plan.precio)">
                    <div class="card mb-3 w-100" [style.border-color]="plan.color">
                        <div class="card-header text-center" [style.border-color]="plan.color" [style.background-color]="plan.color">{{plan.nombrePlan}}</div>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{plan.precio | currency}} / Mes</h5>
                            <ul class="list-group text-sm-center text-md-left">
                                <li class="list-group-item">Limite de Filas - <span class="font-weight-bold">{{plan.restricciones.limiteFilas}}</span></li>
                                <li class="list-group-item">Limite de Columnas - <span class="font-weight-bold">{{plan.restricciones.limiteColumnas}}</span></li>
                                <li class="list-group-item">Limite de Paginas - <span class="font-weight-bold">{{plan.restricciones.limitePaginas}}</span></li>
                                <li class="list-group-item">Limite de Almacenamiento - <span class="font-weight-bold">{{plan.restricciones.limiteAlmacenamiento}}MB</span></li>
                            </ul>
                        </div>
                        <a href="#" class="btn" [style.background-color]="plan.color">Comprar</a>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<app-footer></app-footer>