<div class="jumbotron">
    <div class="container ">
        <div class="row">
            <div class="col-12 my-5">
                <h1>Escoge el mejor plan para tu empresa</h1>
            </div>
        </div>
        <div class="row d-flex justify-content-between">
            <ng-container *ngFor="let plan of planes">
                <div class="col-sm-12 col-md-4" *ngIf="!isGratis(plan.precio)">
                    <div class="card mb-3 w-100" [style.border-color]="plan.color">
                        <div class="card-header text-center" [style.border-color]="plan.color" [style.background-color]="plan.color">{{plan.nombrePlan}}</div>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{plan.precio | currency}} / Mes</h5>
                            <ul class="list-group text-sm-center text-md-left">
                                <li class="list-group-item">Limite de Filas - <span class="font-weight-bold">{{plan.restricciones.limiteFilas}}</span></li>
                                <li class="list-group-item">Limite de Columnas - <span class="font-weight-bold">{{plan.restricciones.limiteColumnas}}</span></li>
                                <li class="list-group-item">Limite de Paginas - <span class="font-weight-bold">{{plan.restricciones.limitePaginas}}</span></li>
                                <li class="list-group-item">Limite de Almacenamiento - <span class="font-weight-bold">{{plan.restricciones.limiteAlmacenamiento | pesoArchivos | number:'1.0-0'}}MB</span></li>
                            </ul>
                        </div>
                        <a class="btn" [style.background-color]="plan.color" (click)="comprarPlan(plan._id);">Comprar</a>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<app-footer></app-footer>

<!-- Modal pagar carrito -->
<ng-template #modalPagarPlan let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pagar productos en carrito</h5>
        <button type="button" class="close" style="outline: none;" (click)="modal.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-around p-2 fa-2x">
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-amex"></i>
                <i class="fab fa-cc-discover"></i>
                <i class="fab fa-cc-diners-club"></i>
                <i class="fab fa-cc-jcb"></i>
            </div>
        </div>
        <form autocomplete="off" [formGroup]="formTarjetaPlan" (ngSubmit)="pagar()">
            <div class="form-group">
                <label for="inpt_destinatario">Destinatario de la tarjeta:</label>
                <input type="text" class="form-control" id="inpt_destinatario" placeholder="JOHN SMITH" formControlName="destinatario" [class.is-invalid]="isValid(formTarjetaPlan, 'destinatario')">
                <small class="text-danger" *ngIf="isValid(formTarjetaPlan, 'destinatario')">Campo no valido</small>
            </div>
            <div class="form-group">
                <label for="inpt_numeroTarjeta">Numero de tarjeta:</label>
                <input type="number" class="form-control" id="inpt_numeroTarjeta" placeholder="0000111122223333" formControlName="numeroTarjeta" [class.is-invalid]="isValid(formTarjetaPlan, 'numeroTarjeta')">
                <small class="text-danger" *ngIf="isValid(formTarjetaPlan, 'numeroTarjeta')">Campo no valido</small>
            </div>
            <div class="form-row">
                <div class="form-group col-3">
                    <label for="inpt_FVMes">Mes de vencimiento</label>
                    <input type="number" class="form-control" name="inpt_FVMes" id="inpt_FVMes" placeholder="MM" formControlName="mesVencimiento" [class.is-invalid]="isValid(formTarjetaPlan, 'mesVencimiento')">
                    <small class="text-danger" *ngIf="isValid(formTarjetaPlan, 'mesVencimiento')">Campo no valido</small>
                </div>
                <div class="form-group col-3">
                    <label for="inpt_FVYear">Año de vencimiento</label>
                    <input type="number" class="form-control" name="inpt_FVDia" id="inpt_FVYear" placeholder="YY" formControlName="yearVencimiento" [class.is-invalid]="isValid(formTarjetaPlan, 'yearVencimiento')">
                    <small class="text-danger" *ngIf="isValid(formTarjetaPlan, 'yearVencimiento')">Campo no valido</small>
                </div>
                <div class="form-group col-6">
                    <label for="inpt_codigoSeguridad">CVV:</label>
                    <input type="number" class="form-control" id="inpt_codigoSeguridad" placeholder="012" formControlName="CCV" [class.is-invalid]="isValid(formTarjetaPlan, 'CCV')">
                    <small class="text-danger" *ngIf="isValid(formTarjetaPlan, 'CCV')">Campo no valido</small>
                </div>
            </div>
            <div class="d-flex justify-content-start flex-column" *ngIf="plan">
                <p class="text-left font-weight-bold">Plan adquirido: <span>{{plan.nombrePlan}}</span></p>
                <p class="text-left font-weight-bold">Total a pagar: <span>{{plan.precio}} $</span></p>
            </div>
            <div class="d-flex justify-content-start">
                <button class="btn naranja-outline" type="submit">Comprar</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn rojo-outline" (click)="modal.close()">Cerrar</button>
    </div>
</ng-template>