<div class="container-fluid">
    <div class="row">
        <app-dashboard></app-dashboard>

        <main role="main" class="jumbotron col-md-9 ml-sm-auto col-lg-10 px-md-4 animate__animated animate__fadeIn animate__faster">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="h2">Banco de archivos</h1>
            </div>
            <div class="alert alert-warning" role="alert" *ngIf="!hasEmpresa">
                ¡Aún no tienes configurada tu empresa, ve a la pestaña de "pagina de la empresa" para configurarla!
            </div>
            <div *ngIf="hasEmpresa">
                <button class="btn btn-lg naranja-outline px-5" (click)="subirArchivo();"><i class="fas fa-upload"></i> Subir archivo</button>
                <div class="row mt-5">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Nombre Archivo</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Fecha de subida</th>
                                <th scope="col">Peso Archivo</th>
                                <th scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let archivo of archivos; let i = index;">
                                <th scope="row">{{i}}</th>
                                <td><i [ngClass]="archivo.extencion"></i> {{archivo.extencion}} </td>
                                <td>{{archivo.nombre}}</td>
                                <td>{{archivo.descripcion}}</td>
                                <td>{{archivo.fechaDeSubida}}</td>
                                <td>{{archivo.peso}}</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn borderless px-4" (click)="verDetalles(archivo);"><i class="far fa-eye"></i></button>
                                        <button type="button" class="btn naranja-outline borderless px-4"><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn rojo-outline borderless px-4"><i class="fas fa-times"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</div>

<!-- Modales -->
<!-- Modal detalle archivos -->
<ng-template #modalDetallesArchivo let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{archivoModal.nombre}}</h5>
        <button type="button" class="close" style="outline: none;" (click)="modal.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <img class="img-fluid w-100" [src]="archivoModal.imgUrl" alt="">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">Cerrar</button>
        <button type="button" class="btn btn-outline-danger">Borrar</button>
    </div>
</ng-template>

<!-- Modal Subir Archivo -->
<ng-template #modalSubirArchivo let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Subir Archivo</h5>
        <button type="button" class="close" style="outline: none;" (click)="modal.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="formFile">Subir un Archivo</label>
                <input type="file" class="form-control-file" id="formFile">
                <button type="submit" class="btn naranja-outline mt-3">Subir</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">Cerrar</button>
    </div>
</ng-template>