<div class="container-fluid">
    <div class="row">
        <app-dashboard></app-dashboard>

        <main role="main" class="jumbotron col-md-9 ml-sm-auto col-lg-10 px-md-4 animate__animated animate__fadeIn animate__faster">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="h2">Carrito de compras</h1>
            </div>
            <table class="table table-borderless table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Detalles</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let compra of compras; let i = index">
                        <span>{{getProducto(compra.Productoid)}}</span>
                        <tr *ngIf="compra" class="border-bottom">
                            <td class="font-weight-bold" scope="row">{{i}}</td>
                            <td class="d-flex">
                                <div class="preview d-xs-none d-md-none d-lg-block">
                                    <img [src]="producto.foto" class="img-miniatura" alt="">
                                </div>
                                <div class="datos-producto ml-3 w-75">
                                    <span class="font-weight-bold">{{producto.nombre}}</span>
                                    <p class="descripcion-producto d-xs-none d-md-none d-lg-block">
                                        {{producto.descripcion}}
                                    </p>
                                </div>
                            </td>
                            <td>
                                <input type="number" class="form-group w-25 text-center" name="cantidad" id="cantidad" [value]="compra.cantidad">
                            </td>
                            <td>
                                <strong>{{producto.precio}} $</strong>
                            </td>
                            <td>
                                <button class="btn btn-outline-danger"><i class="fas fa-times"></i></button>
                            </td>
                        </tr>
                    </ng-container>
                    <tr>
                        <th scope="row"></th>
                        <td>Total</td>
                        <td></td>
                        <td><strong>{{sumarTotal()}} $</strong></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-12 d-flex justify-content-end">
                    <button class="btn amarillo-outline btn-lg mr-5" (click)="comprar();">Comprar</button>
                </div>
            </div>
        </main>
    </div>
</div>


<!-- Modal pagar carrito -->
<ng-template #modalPagarCarrito let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pagar productos en carrito</h5>
        <button type="button" class="close" style="outline: none;" (click)="modal.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-around p-2 fa-2x">
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-amex"></i>
                <i class="fab fa-cc-discover"></i>
                <i class="fab fa-cc-diners-club"></i>
                <i class="fab fa-cc-jcb"></i>
            </div>
        </div>
        <form>
            <div class="form-group">
                <label for="inpt_destinatario">Destinatario de la tarjeta:</label>
                <input type="text" class="form-control" id="inpt_destinatario" placeholder="JOHN SMITH">
            </div>
            <div class="form-group">
                <label for="inpt_numeroTarjeta">Numero de tarjeta:</label>
                <input type="number" class="form-control" id="inpt_numeroTarjeta" placeholder="0000111122223333">
            </div>
            <div class="form-row">
                <div class="form-group col-3">
                    <label for="inpt_FVDia">Día de vencimiento</label>
                    <input type="number" class="form-control" name="inpt_FVDia" id="inpt_FVDia" placeholder="DD">
                </div>
                <div class="form-group col-3">
                    <label for="inpt_FVMes">Mes de vencimiento</label>
                    <input type="number" class="form-control" name="inpt_FVMes" id="inpt_FVMes" placeholder="MM">
                </div>
                <div class="form-group col-6">
                    <label for="inpt_codigoSeguridad">CVV:</label>
                    <input type="number" class="form-control" id="inpt_codigoSeguridad" placeholder="012">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">Cerrar</button>
    </div>
</ng-template>