/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: CrimsonText_Regular;
    src: url("./assets/webfonts/Crimson_Text/CrimsonText-Regular.ttf");
}

@font-face {
    font-family: CrimsonText_SemiBold;
    src: url("./assets/webfonts/Crimson_Text/CrimsonText-SemiBold.ttf");
}

@font-face {
    font-family: SourceSansPro_SemiBold;
    src: url("./assets/webfonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf");
}

@font-face {
    font-family: SourceSansPro_Regular;
    src: url("./assets/webfonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.borderless {
    border: none;
}

.naranja-outline {
    color: #F77F00;
    border-color: #F77F00;
}

.naranja-outline:hover {
    color: #FFF;
    background-color: #F77F00;
}

.rojo-outline {
    color: #D62828;
    border-color: #D62828;
}

.rojo-outline:hover {
    color: #FFF;
    background-color: #D62828;
}

.amarillo-outline {
    color: #FCBF49;
    border-color: #FCBF49;
}

.amarillo-outline:hover {
    color: #FFF;
    background-color: #FCBF49;
}

.naranja-outline {
    color: #F77F00;
    border-color: #F77F00;
}

.naranja-outline:hover {
    color: #FFF;
    background-color: #F77F00;
}

.img-miniatura {
    width: 100%;
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
}