<div class="container-fluid">
    <div class="row">
        <app-dashboard></app-dashboard>

        <main role="main" class="jumbotron col-md-9 ml-sm-auto col-lg-10 px-md-4 animate__animated animate__fadeIn animate__faster">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="h2">Lista de tus paginas para tu empresa</h1>
            </div>
            <table class="table table-borderless table-striped" *ngIf="hasEmpresa">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Paginas Creadas</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container>
                        <tr>
                            <th scope="row">1</th>
                            <td><a [routerLink]="['/pagina-empresa']">Pagina 1</a></td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, aspernatur fugiat at architecto facilis harum, esse maxime ratione nemo rem veritatis ducimus atque impedit vero, pariatur sunt dolor iure quas.</td>
                            <td>
                                <button class="btn rojo-outline"><i class="fas fa-times"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td><a [routerLink]="['/pagina-empresa']">Pagina 2</a></td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, aspernatur fugiat at architecto facilis harum, esse maxime ratione nemo rem veritatis ducimus atque impedit vero, pariatur sunt dolor iure quas.</td>
                            <td>
                                <button class="btn rojo-outline"><i class="fas fa-times"></i></button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-end">
                    <button class="btn btn-lg rojo-outline mr-3" (click)="detallesDeempresa();">Detalles de tu empresa</button>
                    <button class="btn btn-lg naranja-outline" *ngIf="hasEmpresa" (click)="crearNuevaPagina();">Crear nueva pagina</button>
                </div>
            </div>
        </main>
    </div>
</div>

<ng-template #modalDetallesDeEmpresa let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="actualizarUsuarioLabel">Detalles de tu empresa</h5>
        <button type="button" class="close" style="outline: none;" (click)="modal.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form autocomplete="off" [formGroup]="formEmpresa" (ngSubmit)="GuardarDatos();">
            <div class="form-group">
                <label for="inpt_nombreEmpresa">Nombre de tu empresa</label>
                <input type="text" class="form-control" id="inpt_nombreEmpresa" aria-describedby="nombreEmpresa" formControlName="nombre" [class.is-invalid]="isValid(formEmpresa, 'nombre')">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Dirección de tu empresa</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="direccion" [class.is-invalid]="isValid(formEmpresa, 'direccion')"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Rubro de tu empresa</label>
                <select class="form-control" id="exampleFormControlSelect1" formControlName="rubro" [class.is-invalid]="isValid(formEmpresa, 'rubro')"> 
                  <option value="Alimentos">Alimentos</option>
                  <option value="Salud">Salud</option>
                </select>
            </div>
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-secondary mr-3" (click)="modal.close()">Cerrar</button>
                <button type="submit" class="btn naranja-outline" *ngIf="!hasEmpresa">Guardar empresa</button>
                <button type="submit" class="btn naranja-outline" *ngIf="hasEmpresa">Actualizar empresa</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #modalCrearPagina let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="actualizarUsuarioLabel">Crea tu pagina</h5>
        <button type="button" class="close" style="outline: none;" (click)="modal.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <Label class="mb-3">¿Como deseas crear tu pagina?</Label>
            <br>
            <div class="btn-group btn-group-toggle">
                <button class="btn btn-lg amarillo-outline" (click)="usarPlantilla = !usarPlantilla"> 
                    <span *ngIf="!usarPlantilla">Empezar desde 0</span>
                    <span *ngIf="usarPlantilla">Usar una plantilla</span>
                </button>
            </div>
            <div class="form-group animate__animated animate__fadeIn mt-3" *ngIf="usarPlantilla">
                <label for="exampleFormControlSelect1">Plantillas disponibles</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>Standar</option>
                  <option>Deep Blue</option>
                </select>
            </div>
        </form>
        <div class="d-flex justify-content-end">
            <button type=" button " class="btn btn-secondary mr-3 " (click)="modal.close() ">Cerrar</button>
            <button type="button " class="btn naranja-outline ">Crear pagina</button>
        </div>
    </div>
</ng-template>