<div class="container-fluid">
    <div class="row">
        <app-dashboard></app-dashboard>

        <main role="main" class="jumbotron col-md-9 ml-sm-auto col-lg-10 px-md-4 animate__animated animate__fadeIn animate__faster">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="h2">Lista de tus paginas para tu empresa</h1>
            </div>
            <table class="table table-borderless table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Paginas Creadas</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container>
                        <tr>
                            <th scope="row">1</th>
                            <td><a [routerLink]="['/pagina-empresa']">Pagina 1</a></td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, aspernatur fugiat at architecto facilis harum, esse maxime ratione nemo rem veritatis ducimus atque impedit vero, pariatur sunt dolor iure quas.</td>
                            <td>
                                <button class="btn rojo-outline"><i class="fas fa-times"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td><a [routerLink]="['/pagina-empresa']">Pagina 2</a></td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, aspernatur fugiat at architecto facilis harum, esse maxime ratione nemo rem veritatis ducimus atque impedit vero, pariatur sunt dolor iure quas.</td>
                            <td>
                                <button class="btn rojo-outline"><i class="fas fa-times"></i></button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-end">
                    <button class="btn btn-lg naranja-outline" [routerLink]="['/pagina-empresa']">Crear nueva pagina</button>
                </div>
            </div>
        </main>
    </div>
</div>