<div class="container-fluid">
    <div class="row">
        <app-dashboard></app-dashboard>

        <main role="main" class="jumbotron col-md-9 ml-sm-auto col-lg-10 px-md-4 animate__animated animate__fadeIn animate__faster">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="h2">Gestion de planes</h1>
            </div>
            <!--  -->
            <div class="row d-flex justify-content-between">
                <div class="col-sm-12 col-md-4">
                    <div class="card card-red mb-3 w-100">
                        <div class="card-header card-red bg-rojo text-center">Plan Basico</div>
                        <div class="card-body">
                            <div class="d-flex justify-content-end w-100" role="group" aria-label="grupo de edicion">
                                <button type="button" class="btn border" (click)="actualizarPlan();"><i class="far fa-edit"></i></button>
                                <button type="button" class="btn border"><i class="fas fa-times"></i></button>
                            </div>
                            <h5 class="card-title text-center">9.99 $/ Mes</h5>
                            <ul class="list-group text-sm-center text-md-left">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="card card-naranja mb-3 w-100">
                        <div class="card-header card-naranja bg-naranja text-center">Plan Pro</div>
                        <div class="card-body">
                            <div class="d-flex justify-content-end w-100" role="group" aria-label="grupo de edicion">
                                <button type="button" class="btn border" (click)="actualizarPlan();"><i class="far fa-edit"></i></button>
                                <button type="button" class="btn border"><i class="fas fa-times"></i></button>
                            </div>
                            <h5 class="card-title text-center">19.99 $/ Mes</h5>
                            <ul class="list-group text-sm-center text-md-left">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="card card-amarilla mb-3 w-100">
                        <div class="card-header card-amarilla bg-amarillo text-center">Plan Ultimate</div>
                        <div class="card-body">
                            <div class="d-flex justify-content-end w-100" role="group" aria-label="grupo de edicion">
                                <button type="button" class="btn border" (click)="actualizarPlan();"><i class="far fa-edit"></i></button>
                                <button type="button" class="btn border"><i class="fas fa-times"></i></button>
                            </div>
                            <h5 class="card-title text-center">21.99 $/ Mes</h5>
                            <ul class="list-group text-sm-center text-md-left">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-end">
                    <button type="button" class="btn bg-naranja btn-lg text-white" (click)="crearPlan();">Crear Nuevo Plan</button>
                </div>
            </div>
        </main>
    </div>
</div>

<!-- Modal crear plan-->
<ng-template #modalCrearPlan let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modalCrearPlanLabel">Creacion de nuevo plan</h5>
        <button type="button" class="close" (click)="modal.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        ...
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">Cerrar</button>
        <button type="button" class="btn btn-primary">Crear Usuario</button>
    </div>
</ng-template>

<!-- Modal actualizar plan -->
<ng-template #modalActualizarPlan let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="actualizarPlanLabel">Actualizar el plan</h5>
        <button type="button" class="close" (click)="modal.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form action="">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inp_new_nombrePlan">Nombre del plan: </label>
                    <input type="text" class="form-control" id="inp_new_nombrePlan" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inp_new_precioPlan">Precio del plan: </label>
                    <input type="number" class="form-control" id="inp_new_precioPlan" min="1" max="1000" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group is-invalid">
                    <div class="custom-file">
                        <select class="custom-select" id="validatedInputGroupSelect" required>
                                <option value="" disabled selected>Choose...</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Button</button>
                    </div>
                </div>
            </div>
            <!-- Botones Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.close()">Cerrar</button>
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
        </form>
    </div>
</ng-template>