.jumbotron {
    background: none;
}

.jumbotron h1 {
    font-family: CrimsonText_Regular;
}

.card {
    border: 2px solid;
    border-radius: 6px
}

.close {
    outline: none;
}

.card-red {
    border-color: #D62828;
}

.card-naranja {
    border-color: #F77F00;
}

.card-amarilla {
    border-color: #FCBF49;
}

.bg-rojo {
    background-color: #D62828;
}

.bg-naranja {
    background-color: #F77F00;
}

.bg-amarillo {
    background-color: #FCBF49;
}

.card-header {
    color: #FFF;
    font-size: 1.4rem;
    font-weight: lighter;
}

.card .list-group {
    border: none;
}

.card .list-group .list-group-item {
    border: none;
}

.card a {
    color: #FFF;
    font-family: SourceSansPro_SemiBold;
    font-size: 1.2rem;
    width: 75%;
    margin: auto;
    margin-bottom: 1rem;
}

.card a:hover {
    opacity: .85;
}