<div class="container-fluid">
    <div class="row">
        <app-dashboard></app-dashboard>

        <main role="main" class="jumbotron col-md-9 ml-sm-auto col-lg-10 px-md-4 animate__animated animate__fadeIn animate__faster">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="h2">Gestion de planes</h1>
            </div>
            <!--  -->
            <div class="row d-flex justify-content-between">
                <ng-container *ngFor="let plan of planes">
                    <div class="col-sm-12 col-md-4" *ngIf="!isGratis(plan.precio)">
                        <div class="card mb-3 w-100" [style.border-color]="plan.color">
                            <div class="card-header text-center" [style.border-color]="plan.color" [style.background-color]="plan.color">{{plan.nombrePlan}}</div>
                            <div class="card-body">
                                <div class="d-flex justify-content-end w-100" role="group" aria-label="grupo de edicion">
                                    <button type="button" class="btn border" (click)="cargarActualizarPlan(plan._id);"><i class="far fa-edit"></i></button>
                                    <button type="button" class="btn border"><i class="fas fa-times"></i></button>
                                </div>
                                <h5 class="card-title text-center">{{plan.precio | currency}} / Mes</h5>
                                <ul class="list-group text-sm-center text-md-left">
                                    <li class="list-group-item">Limite de Filas - <span class="font-weight-bold">{{plan.restricciones.limiteFilas}}</span></li>
                                    <li class="list-group-item">Limite de Columnas - <span class="font-weight-bold">{{plan.restricciones.limiteColumnas}}</span></li>
                                    <li class="list-group-item">Limite de Paginas - <span class="font-weight-bold">{{plan.restricciones.limitePaginas}}</span></li>
                                    <li class="list-group-item">Limite de Almacenamiento - <span class="font-weight-bold">{{plan.restricciones.limiteAlmacenamiento}} MB</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-end">
                    <button type="button" class="btn bg-naranja btn-lg text-white" (click)="cargarCrearPlan();">Crear Nuevo Plan</button>
                </div>
            </div>
        </main>
    </div>
</div>

<!-- Modal crear plan-->
<ng-template #modalCrearPlan let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modalCrearPlanLabel">Creacion de nuevo plan</h5>
        <button type="button" class="close" (click)="modal.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form autocomplete="off" [formGroup]="form_planes" (ngSubmit)="guardarPlan()">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inp_edit_nombrePlan">Nombre del plan: </label>
                    <input formControlName="nombrePlan" type="text" class="form-control" id="inp_edit_nombrePlan" [class.is-invalid]="isValid(form_planes, 'nombrePlan')">
                    <small class="text-danger" *ngIf="isValid(form_planes, 'nombrePlan')">Ingrese minimo 2 caracteres y maximo 20.</small>
                </div>
                <div class="form-group col-md-4">
                    <label for="inp_edit_nombrePlan">Color del plan: </label>
                    <input formControlName="color" type="color" class="form-control" id="inp_new_color" [class.is-invalid]="isValid(form_planes, 'color')">
                    <small class="text-danger" *ngIf="isValid(form_planes, 'color')">Fije un color.</small>
                </div>
                <div class="form-group col-md-4">
                    <label for="inp_edit_precioPlan">Precio del plan: </label>
                    <input formControlName="precio" type="number" class="form-control" id="inp_edit_precioPlan" [class.is-invalid]="isValid(form_planes, 'precio')">
                    <small class="text-danger" *ngIf="isValid(form_planes, 'precio')">El precio minimo es de 0.99 y 999.99 max</small>
                </div>
            </div>
            <div class="form-group">
                <label for="inp_edit_descripcion">Descripcion plan: </label>
                <textarea formControlName="descripcion" class="form-control" id="inp_edit_descripcion" rows="3"></textarea>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inp_edit_precioPlan">Limite de Filas: </label>
                    <input formControlName="limiteFilas" type="number" class="form-control" id="inp_edit_precioPlan" [class.is-invalid]="isValid(form_planes, 'limiteFilas')">
                    <small class="text-danger" *ngIf="isValid(form_planes, 'limiteFilas')">Minimo 3 filas y maximo 7</small>
                </div>
                <div class="form-group col-md-6">
                    <label for="inp_edit_precioPlan">Limite de Columnas: </label>
                    <input formControlName="limiteColumnas" type="number" class="form-control" id="inp_edit_precioPlan" [class.is-invalid]="isValid(form_planes, 'limiteColumnas')">
                    <small class="text-danger" *ngIf="isValid(form_planes, 'limiteColumnas')">Minimo 1 columna y maximo 12</small>
                </div>
                <div class="form-group col-md-6">
                    <label for="inp_edit_precioPlan">Limite de Paginas: </label>
                    <input formControlName="limitePaginas" type="number" class="form-control" id="inp_edit_precioPlan" [class.is-invalid]="isValid(form_planes, 'limitePaginas')">
                    <small class="text-danger" *ngIf="isValid(form_planes, 'limitePaginas')">Minimo 1 paginas y maximo 3</small>
                </div>
                <div class="form-group col-md-6">
                    <label for="inp_edit_precioPlan">Limite de Almacenamiento: </label>
                    <input formControlName="limiteAlmacenamiento" type="number" class="form-control" id="inp_edit_precioPlan" [class.is-invalid]="isValid(form_planes, 'limiteAlmacenamiento')">
                    <small class="text-danger" *ngIf="isValid(form_planes, 'limiteAlmacenamiento')">Minimo 50 MB y maximo 1024</small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.close()">Cerrar</button>
                <button type="submit" class="btn btn-primary">Crear Plan</button>
            </div>
        </form>
    </div>
</ng-template>

<!-- Modal actualizar plan -->
<ng-template #modalActualizarPlan let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="actualizarPlanLabel">Actualizar el plan</h5>
        <button type="button" class="close" (click)="modal.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form autocomplete="off" [formGroup]="form_planes" (ngSubmit)="guardarPlan()">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inp_edit_nombrePlan">Nombre del plan: </label>
                    <input formControlName="nombrePlan" type="text" class="form-control" id="inp_edit_nombrePlan" [class.is-invalid]="isValid(form_planes, 'nombrePlan')">
                    <small class="text-danger" *ngIf="isValid(form_planes, 'nombrePlan')">Ingrese minimo 2 caracteres y maximo 20.</small>
                </div>
                <div class="form-group col-md-4">
                    <label for="inp_edit_nombrePlan">Color del plan: </label>
                    <input formControlName="color" type="color" class="form-control" id="inp_edit_nombrePlan" [class.is-invalid]="isValid(form_planes, 'color')">
                    <small class="text-danger" *ngIf="isValid(form_planes, 'color')">Fije un color.</small>
                </div>
                <div class="form-group col-md-4">
                    <label for="inp_edit_precioPlan">Precio del plan: </label>
                    <input formControlName="descripcion" type="number" class="form-control" id="inp_edit_precioPlan" [class.is-invalid]="isValid(form_planes, 'descripcion')">
                    <small class="text-danger" *ngIf="isValid(form_planes, 'precio')">El precio minimo es de 0.99 y 999.99 max</small>
                </div>
            </div>
            <div class="form-group">
                <label for="inp_edit_descripcion">Descripcion plan: </label>
                <textarea formControlName="descripcion" class="form-control" id="inp_edit_descripcion" rows="3" [class.is-invalid]="isValid(form_planes, 'precio')"></textarea>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inp_edit_precioPlan">Limite de Filas: </label>
                    <input formControlName="limiteFilas" type="number" class="form-control" id="inp_edit_precioPlan" [class.is-invalid]="isValid(form_planes, 'limiteFilas')">
                    <small class="text-danger" *ngIf="isValid(form_planes, 'limiteFilas')">Minimo 3 filas y maximo 7</small>
                </div>
                <div class="form-group col-md-6">
                    <label for="inp_edit_precioPlan">Limite de Columnas: </label>
                    <input formControlName="limiteColumnas" type="number" class="form-control" id="inp_edit_precioPlan" [class.is-invalid]="isValid(form_planes, 'limiteColumnas')">
                    <small class="text-danger" *ngIf="isValid(form_planes, 'limiteColumnas')">Minimo 1 columna y maximo 12</small>
                </div>
                <div class="form-group col-md-6">
                    <label for="inp_edit_precioPlan">Limite de Paginas: </label>
                    <input formControlName="limitePaginas" type="number" class="form-control" id="inp_edit_precioPlan" [class.is-invalid]="isValid(form_planes, 'limitePaginas')">
                    <small class="text-danger" *ngIf="isValid(form_planes, 'limitePaginas')">Minimo 1 paginas y maximo 3</small>
                </div>
                <div class="form-group col-md-6">
                    <label for="inp_edit_precioPlan">Limite de Almacenamiento: </label>
                    <input formControlName="limiteAlmacenamiento" type="number" class="form-control" id="inp_edit_precioPlan" [class.is-invalid]="isValid(form_planes, 'limiteAlmacenamiento')">
                    <small class="text-danger" *ngIf="isValid(form_planes, 'limiteAlmacenamiento')">Minimo 50 MB y maximo 1024</small>
                </div>
            </div>
        </form>
    </div>
    <!-- Botones Footer -->
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">Cerrar</button>
        <button type="button" class="btn btn-primary">Actualizar</button>
    </div>
</ng-template>