<div class="jumbotron">
    <div class="container">
        <h1 class="my-4">Inicia Sesión</h1>
        <div class="card px-5 py-4">
            <form>
                <div class="form-group">
                    <label for="correoElectronico">Correo Electronico</label>
                    <input type="email" class="form-control" id="correoElectronico" aria-describedby="correoElectronico">
                </div>
                <div class="form-group">
                    <label for="passwordUsuario">Contraseña</label>
                    <input type="password" class="form-control" id="passwordUsuario">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Mantenme Conectado</label>
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-3">Confirmar</button>
                <a class="p-2 " href="">
                    ¿No tienes usuario?, Registrate aquí.
                </a>
            </form>
        </div>
    </div>
</div>