<div class="container-fluid">
    <div class="row">
        <app-dashboard></app-dashboard>

        <main role="main" class="jumbotron col-md-9 ml-sm-auto col-lg-10 px-md-4 animate__animated animate__fadeIn animate__faster">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="h2">Tu plan actual</h1>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Plan actual</th>
                        <th scope="col">Fecha de pago</th>
                        <th scope="col">Fecha de adquisición</th>
                        <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody *ngIf="planActual">
                    <tr>
                        <th scope="row">1</th>
                        <td>{{planActual.nombrePlan}}</td>
                        <td>30/12/2020</td>
                        <td>30/11/2020</td>
                        <td>{{planActual.precio | currency}}</td>
                    </tr>
                </tbody>
            </table>
        </main>
    </div>
</div>