<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Opciones</span>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="active">
                    <i class="fas fa-tachometer-alt"></i> Dashboard <span class="sr-only">(current)</span>
                </a>
            </li>
            <!-- Cliente -->
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/carrito']" routerLinkActive="active">
                    <i class="fas fa-shopping-cart"></i> Carrito de compras
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/historial-compras']" routerLinkActive="active">
                    <i class="fas fa-history"></i> Historial de compras
                </a>
            </li>
            <!-- Empresa -->
            <li class="nav-item">
                <a class="nav-link" *ngIf="isEmpresa" [routerLink]="['/plan-actual']" routerLinkActive="active">
                    <i class="fas fa-wallet"></i> Plan Actual
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="isEmpresa" [routerLink]="['/lista-paginas']" routerLinkActive="active">
                    <i class="fas fa-briefcase"></i> Paginas de la empresa
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="isEmpresa" [routerLink]="['/banco-archivos']" routerLinkActive="active">
                    <i class="fas fa-archive"></i> Banco de archivos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="isEmpresa" [routerLink]="['/banco-imagenes']" routerLinkActive="active">
                    <i class="far fa-images"></i> Banco de imagenes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="isEmpresa" [routerLink]="['/gestion-productos']" routerLinkActive="active">
                    <i class="fas fa-store"></i> Gestion de productos
                </a>
            </li>
            <!-- Administrador -->
            <li class="nav-item">
                <a class="nav-link" *ngIf="isAdmin" [routerLink]="['/gestion-empresas']" routerLinkActive="active">
                    <i class="fas fa-city"></i> Gestión de empresas
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="isAdmin" [routerLink]="['/gestion-planes']" routerLinkActive="active">
                    <i class="far fa-edit"></i> Gestión de planes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="isAdmin" [routerLink]="['/gestion-usuarios']" routerLinkActive="active">
                    <i class="fas fa-users-cog"></i> Gestión de usuarios
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="isAdmin" [routerLink]="['/gestion-plantillas']" href="#" routerLinkActive="active">
                    <i class="fas fa-layer-group"></i> Gestión de plantillas
                </a>
            </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-3 text-muted">
            <span>Tu perfil</span>
        </h6>
        <div class="flex-column w-50 m-auto">
            <div class="text-center">
                <img [src]="usuario.foto" class="rounded-circle img-fluid" alt="Imagen de perfil">
            </div>
        </div>
        <section class="datos-generales">
            <ul class="flex-column list-group">
                <li class="list-group-item d-flex flex-column">
                    <span class="font-weight-bold">Nombre</span>
                    <span>{{usuario.nombre | titlecase}} {{usuario.apellido | titlecase}}</span>
                </li>
                <li class="list-group-item d-flex flex-column">
                    <span class="font-weight-bold">Correo</span>
                    <span>{{usuario.correo}}</span>
                </li>
                <li class="list-group-item d-flex flex-column">
                    <span class="font-weight-bold">Tipo Usuario</span>
                    <span>{{usuario.tipoUsuario | tipoUsuario | titlecase}}</span>
                </li>
            </ul>
        </section>
        <div class="w-75 m-auto pb-5">
            <button type="button" class="btn bg-naranja  btn-block" [routerLink]="['/editar-perfil']"><i class="fas fa-user-cog"></i> Editar perfil</button>
            <button type="button" class="btn bg-rojo  btn-block" (click)="cerrarSession()"><i class="fas fa-user-lock"></i> Cerrar Sesión</button>
        </div>
    </div>
</nav>