<div class="container-fluid">
    <div class="row">
        <app-dashboard></app-dashboard>

        <main role="main" class="jumbotron col-md-9 ml-sm-auto col-lg-10 px-md-4 animate__animated animate__fadeIn animate__faster">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="h2">Historial de compras</h1>
            </div>
            <table class="table table-borderless table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Fecha de compra</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio Unitario</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let compra of compras; let i = index">
                        <th scope="row">{{i}}</th>
                        <td class="text-left">{{getProducto(compra.Productoid).nombre}}</td>
                        <td class="text-left">{{compra.fechaCompra | date:'mediumDate'}}</td>
                        <td class="text-left">{{compra.cantidad}}</td>
                        <td class="text-left">{{getProducto(compra.Productoid).precio}} $</td>
                        <td class="text-left">{{getProducto(compra.Productoid).precio * compra.cantidad}} $</td>
                    </tr>
                </tbody>
            </table>
        </main>
    </div>
</div>